.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 58px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #1a1a1a;
  /* color: #08c; */
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  border-radius: 4px;
  align-items: center;
}

li a:hover {
  background-color: #eef2f5;
}
